$primary-color: #6cc24a;

$primary-light: lighten($primary-color, 10%);
$primary-dark: darken($primary-color, 10%);

$secondary-color: #2a73b8;
$secondary-light: lighten($secondary-color, 10%);
$secondary-dark: darken($secondary-color, 10%);

$text-color: #333;
$background-color: #f5f5f5;

$link-color: $primary-color;
$link-hover-color: $primary-dark;
